html{
    box-sizing: border-box;
}
*,
*:before,
*,:after{
    box-sizing: inherit;
}

.contenedor{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(auto);
    border :1px solid black;
    /*ahora todo con area*/
    grid-template-areas: "header header header header"
                            "main main main main"                   
}
.header{

grid-area: header;

}
.main{
    grid-area: main;
}

.header{
    position: center;
    background:linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.2),
        rgba(0,0,0,.6)
        ),url("../img/fondo.jpg");
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: center;
  
}
.header .h1{
  cursor: default;
    text-align:center;
    font-size: 3rem;
    color:#0EAFF3 ;
}

/*sidebar--menu-----ul---li*/
nav{
  
    width: 100%;
    
}
nav ul{
    list-style: none;
    text-align: center;
   
}
nav ul li{
    padding: 1rem;
    
    display: inline-block;
    padding-left: 3rem;
    position: relative;
   
}
nav ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: powderblue;
    
    
}
/*iconos*/
.icon-media-play{
    font-size: 1rem;
}
.icon-eye{
    font-size: 1rem;
    
}

/*submenu*/
/*maouse*/
nav ul li:hover .hijo{
    display: block;
    padding:0;
    color: aliceblue;
  
    margin: 0;

    background-color:#1b1009;
} 
nav ul li .hijo li:hover{
    background: #F0A202;
    width: 100%;
}

nav ul .submeno{
    padding: 2rem;
}
nav ul li .hijo{
     display: none;
     position: absolute;
     width: 80%;


}
nav ul li .hijo li{
    padding: 1rem;
}

nav ul li .hijo a{
    background-position: center;
    font-size:3ch;
}
nav ul li ul {
    text-align: center;

}
/*inicion de sesiones*/
.sidebar{
     border :1px solid black;
}

/*targetas*/
@media (min-width: 600px) {
    .targetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.cajas{
    /* Codigo obtenido de cssmatic.com  */
    -webkit-box-shadow: 4px 20px 29px -19px rgba(130, 125, 130, 1);
    -moz-box-shadow: 4px 20px 29px -19px rgba(130, 125, 130, 1);
    box-shadow: 4px 20px 29px -19px rgba(130, 125, 130, 1);
    background-color: var(--blanco);
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;

}
.cajas{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 400ms ease;
    cursor:pointer;

}
.cajas:hover{
   
    box-shadow: 4px 20px 35px -10px rgba(130, 125, 130, 10);
}
 .main .targetas .cajas .iconos1{
    background-image: url(/img/ceku1.jpg);
    width: 100%;
    height: 25vh;
    background-size: cover;
}
footer .contenedor{
    background-color: #FCC302;
    text-align: center;
    margin: 2rem;
}